/* body */

body{
    font-family: 'Roboto', sans-serif;
}

.jumbotron{
    -webkit-box-shadow: 7px 7px 20px -4px rgba(0,0,0,0.6);
    -moz-box-shadow: 7px 7px 20px -4px rgba(0,0,0,0.6);
    box-shadow: 7px 7px 20px -4px rgba(0,0,0,0.6);
}

h2{
    color: #4bb5c1;
}

/* Home page */

.fa-home,
.fa-wallet,
.fa-user-md,
.fa-clock,
.fa-comments{
    font-size: 40px;
    color: #4bb5c1;
}

h5, P, td, li, label{
    color: dimgray;
}

.testimonial_job,
.modal-title{
    color: #4bb5c1;
}

@media (max-width: 767px){
    h2{
        font-size: 25px;
    }

    .fa-home,
    .fa-wallet,
    .fa-user-md,
    .fa-clock,
    .fa-comments{
        font-size: 30px;
    }

    h1{
        font-size: 30px;
    }

    .h3-responsive{
        font-size: 18px;
    }
}




  
 