{# Navbar admin #}

<div class="container-fluid">
    <div class="row text-center">
      <div class="col-lg-12">
        <a class="btn btn-info mt-4" href="{{ path('admin') }}">Accueil</a>
        <a class="btn btn-info mt-4" href="{{ path('home') }}"><i class="fa fa-home"></i> Retour au site</a>
        {% if app.user %}
        <a class="btn btn-danger mt-4" href="{{ path('app_logout') }}"><i class="fa fa-user"></i> Déconnexion</a>
        {% endif %}
      </div>
    </div>
</div>

<style>
  .fa-home{
    font-size: 20px;
    color: white;
  }
</style>

