{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/page.css') }}">
{% endblock %}

{% block title %}Horaires & Tarifs{% endblock %}

{% block body %}

{# Navbar #}
{{ include('cabinet/navbar.html.twig') }}

{# Bloc titre #}

<div class="container-fluid">
    <div class="row">
        <div class="blocTitle text-center col-xl-12">
            <h1>Cabinet Sages-Femmes-Osny</h1>
            <h4><i class="fas fa-briefcase-medical"></i> Sages-Femmes diplomés d'état</h4>  
        </div>
    </div>
</div>

<div class="container-fluid">
    {# Jumbotron horaire #}
    <div class="jumbotron text-center hoverable mt-4">
        <i class="far fa-clock mb-2"></i>
        <h2 class="mb-4">Horaires (Cabinet)</h2>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <h4 class="text-center">CLEMENT Noémie</h4>
                <p class="my-4">
                    Lundi <i class="fas fa-long-arrow-alt-right"></i> Absente<br>
                    Mardi <i class="fas fa-long-arrow-alt-right"></i> 9h00-12h00<br>
                    Mercredi <i class="fas fa-long-arrow-alt-right"></i> 9h00-18h00<br>
                    Jeudi <i class="fas fa-long-arrow-alt-right"></i> 9h00-12h00<br>
                    Vendredi <i class="fas fa-long-arrow-alt-right"></i> 13h00-20h00<br>
                    Samedi (Une semaine sur deux) <i class="fas fa-long-arrow-alt-right"></i> 9h00-12h00
                </p>
            </div>
            <div class="col-lg-4">
                <h4 class="text-center">THORAX Nathalie</h4>
                <p class="my-4">
                    Lundi <i class="fas fa-long-arrow-alt-right"></i> 9h00-12h00<br>
                    Mardi <i class="fas fa-long-arrow-alt-right"></i> 13h30-17h30<br>
                    Mercredi <i class="fas fa-long-arrow-alt-right"></i> Absente<br>
                    Jeudi <i class="fas fa-long-arrow-alt-right"></i> 13h30-17h30<br>
                    Vendredi <i class="fas fa-long-arrow-alt-right"></i> 9h00-12h00<br>
                    Samedi (Une semaine sur deux) <i class="fas fa-long-arrow-alt-right"></i> 9h00-16h30
                </p>
            </div>
            <div class="col-lg-4">
                <h4 class="text-center">ROMAGNE Vincent</h4>
                <p class="my-4">
                    Lundi <i class="fas fa-long-arrow-alt-right"></i> 15h00-20h00<br>
                    Mardi <i class="fas fa-long-arrow-alt-right"></i> 9h00-12h30<br>
                    Mercredi <i class="fas fa-long-arrow-alt-right"></i> Absent<br>
                    Jeudi <i class="fas fa-long-arrow-alt-right"></i> 15h00-20h00<br>
                    Vendredi <i class="fas fa-long-arrow-alt-right"></i> 9h00-17h00<br>
                    Samedi (Une semaine sur deux) <i class="fas fa-long-arrow-alt-right"></i> 9h00-18h30
                </p>
            </div>
        </div>
        <hr>
        <p class="text-center font-weight-bold mt-4">Pour une question d’organisation, je n’accepte pas les retards de plus 
            de 15 minutes. Merci de votre compréhension.
        </p>
    </div>

    {# Jumbotron tarifs #}
    <div class="jumbotron text-center hoverable mt-4">
        <i class="fa fa-wallet mb-2"></i>
        <h2 class="mb-5">Tarifs consultation</h2>
        <div class="row my-3">
            <div class="col-lg-4">
                <h4 class="mt-4 text-center">Consultations</h4>
                <P>
                    Consultation de gynécologie <i class="fas fa-caret-right"></i> <strong>25€</strong><br>
                    Consultation de gynécologie 1ere fois <i class="fas fa-caret-right"></i> <strong>50€</strong><br>
                    Consultation de gynécologie + frottis <i class="fas fa-caret-right"></i> <strong>37.46€</strong><br>
                    Consultation de contraception et de prévention entre 15<br> et 18 ans <i class="fas fa-caret-right"></i> <strong>46€</strong><br>
                    Consultation de grossesse 1ere fois <i class="fas fa-caret-right"></i> <strong>60.25€</strong><br>
                    Consultation de grossesse (à partir de la 2ème) <i class="fas fa-caret-right"></i> <strong>25€</strong><br>
                    Pose DIU (stérilet) <i class="fas fa-caret-right"></i> <strong>38.40€</strong> - Retrait DIU (stérilet) 
                        <i class="fas fa-caret-right"></i> <strong>62.72€</strong>
                    <br>
                    Pose d’implant sous cutané <i class="fas fa-caret-right"></i> <strong>17.99€</strong><br>
                    Ablation ou changement d’implant sous cutané <i class="fas fa-caret-right"></i> <strong>40.80€</strong><br>
                    Rééducation du périnée <i class="fas fa-caret-right"></i> <strong>19.60€</strong> la séance<br>
                    Hypnose médicale <i class="fas fa-caret-right"></i> <strong>50€</strong> la séance
                </P>
            </div>

            <div class="col-lg-4">
                <h4 class="mt-4 text-center">Préparation à la naissance</h4>
                <P>
                    Entretien prénatal <i class="fas fa-caret-right"></i> <strong>42€</strong><br>
                    Préparation classique à l’accouchement ou hypnose prénatale<br> <i class="fas fa-caret-right"></i> <strong>33.6€</strong> la séance si individuelle 
                        <i class="fas fa-caret-right"></i> <strong>32.48€</strong> si en groupe
                </P>

                <h4 class="mt-5 text-center">Massage bébé</h4>
                <p>
                    La séance (prévoir 3 séances) <i class="fas fa-caret-right"></i> <strong>35€</strong><br>
                </p>
            </div>

            <div class="col-lg-4">
                <h4 class="mt-4 text-center">Préparation spécifique sur les émotions liées à la grossesse et à l'accouchement</h4>
                <p>
                    La séance (prévoir 3 séances) <i class="fas fa-caret-right"></i> <strong>25€</strong> + une partie hors nomenclature de <strong>30€</strong>
                </p>

                <h4 class="mt-5 text-center">Echographie</h4>
                <p>
                    La séance (prévoir 3 séances) <i class="fas fa-caret-right"></i> <strong>25€</strong> + une partie hors nomenclature de <strong>30€</strong>
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xl-12 text-center">
                <p class="mt-4">
                    Tarifs conventionnés par la sécurité sociale.<br>
                    Prise en charge à 100% à partir du 6ème mois de grossesse pour :<br>
                    La consultation de grossesse<br>
                    La rééducation du périnée dans l’année suivant l’accouchement<br>
                    La préparation classique à l’accouchement
                </p>
            </div>
        </div>
    </div>
</div>

{# Footer #}
{{ include('cabinet/footer.html.twig') }}

{% endblock %}