{# Modal présentation Nathalie #}
<div class="modal fade" id="modal_nathalie" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">THORAX Nathalie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Diplômée en 2010, j'ai travaillé 5 ans à l'hôpital avant de prendre la décision
                    de m'installer en libéral. Le libéral me permet de prendre plus de temps pour accompagner la femme dans sa 
                    globalité, aussi bien pendant sa grossesse que pour son suivi gynécologique.<br><br>
                    Je propose, pendant la grossesse, une préparation classique à l'accouchement mais aussi de 
                    l'hypnose prénatale. J'ai également fait une formation en homéophathie pour aider à soulager les
                    maux rencontrés pendant la grossesse, pour accompagner à la naissance, à l'allaitement ou bien 
                    pour répondre aux problèmes gynécologiques.<br><br>
                    Par ailleurs, afin de garder un contact avec les bébés connus à leurs naissance ou pour faire de nouvelles 
                    rencontres, j'anime des ateliers massages bébé, au cabinet jusqu'à la première année de vie de l'enfant.<br><br>
                    Toutes ces rencontres, ces échanges, ces sourires m'ont permis de m'épanouir dans mon métier et de me
                    sentir véritablement sage-femme !
                </p>
            </div>
        </div>
    </div>
</div>

{# Modal présentation Vincent #}
<div class="modal fade" id="modal_vincent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ROMAGNE Vincent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Je suis sage-femme depuis 2007, diplômé de l'école de sage-femme de Saint Antoine
                    à Paris, j'ai toujours exercé à l'hôpital de Pontoise de 2007 à 2018, où il est fort probable que vous m'y ayez 
                    déjà rencontré. J'ai pu m'épanouir dans tous les services et acquérir l'expérience nécessaire pour vous accompagner
                    aux mieux aujourd'hui.<br><br> Au début, essentiellement dans les services de salle de naissances et grossesses à hauts risque,
                    riche en adrénaline et en émotions, je me suis peu à peu tourné vers les suites de couches et surtout la PMA (procréation
                    médicalement assistée) où j'ai accompagné les couples durant 5 ans et partagé avec eux joies, inquiètudes et peines. Puis,
                    avec mon diplôme d'échographie en poche et quelques années de pratique en milieu hospitalier, j'ai été accueilli ici par des 
                    collègues toutes aussi enthousiastes et motivés que dynamiques.<br><br> Je vous reçois au cabinet avec pour objectif de réaliser les
                    meilleurs échographies possible tout en gardant à l'esprit qu'il s'agit aussi d'un instant unique d'échange et de partage.
                    Espérant vous voir prochainement, je vous souhaite une bonne journée !
                </p>
            </div>
        </div>
    </div>
</div>

{# Modal présentation Noémie #}
<div class="modal fade" id="modal_noemie" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">CLEMENT Noémie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Quelques lignes pour me présenter à vous, future maman, future papa, mère et père, femme,
                    Diplômé de l'école de Montpellier en 2010 j'ai d'abord exercé à l'hôpital pendant quelques années. 
                    Une expérience riche qui m'a fait évolué ds ma pratique et à fais naître de nouvelles envies, de nouvelles approches. 
                    L'envie de travailler différemment, de prendre plus de temps.<br><br>
                    Ceci à été permis grâce à ma collègue et amie Nathalie Thorax qui venait de démarrer son activité en cabinet. 
                    Ce métier est avant tout pour moi un métier d'échange et d'écoute, aussi un partage de savoir, de connaissance 
                    en essayant de mettre la mère, future mère et femme au cœur de sa santé.<br><br>
                    C'est avec ces valeurs que j'apprécie et essaye de vous accueillir. 
                </p>
            </div>
        </div>
    </div>
</div>